body {background:lightgrey;}

h1
{
 font-family: calibri;
 font-size: 30px;
 font-style: normal;
 font-weight: bold;
 text-decoration: underline;
 text-align: center; 
 text-shadow: 5px 5px 5px
 #FF0000;
 text-transform:uppercase;
 color:#00ff00;
 text-decoration: underline;
 text-align: center;
}
p
{
 font-family: verdana;
 font-size: 20px;
 font-style: italic; 
 text-transform:capitalize;
 text-indent:50px;
 color:rgb(255,0,0);
} 