	
 
	.div_class{font-weight:bold; font-size: 24px; color: rgba(255,255,100,0.7);}
	
	.para_class{font-family: arial; font-style:italic; color: hsl(170,100%,70%);}
	
 	h1{color: hsla(250,60%,40%,0.8);}

	#p3{color: rgb(255,0,0);}